﻿﻿﻿@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<aside class="main-sidebar sidebar-custom elevation-4 position-fixed">
    <!-- Brand Logo -->
    <a href="/adminmanagement/dashboard" class="brand-link" style="background-color: #ed3d34; color: white;">
        <img src="~/images/Logo.png" alt="Logo Hunre" width="75px">
        <span class="brand-text font-weight-light ms-2">Quản lý</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex position-fixed bottom-0" style="border-top: 1px solid #f7b1ae;">
            <div class="image">
                <img src="~/images/Logo.png" class="img-circle elevation-2" alt="Logo-Hunre">
            </div>
            <div class="info">
                @{
                    if (HttpContextAccessor.HttpContext.Session.GetString("AdminLogin") != null)
                    {
                        <a href="#" class="d-block">@HttpContextAccessor.HttpContext.Session.GetString("AdminLogin")</a>
                        <a asp-action="Logout" asp-controller="Login" class="logout-link">Đăng xuất</a>
                    }
                    else
                    {
                        <a href="#" class="d-block">DamQuocDan</a>
                    }
                }
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Menu Item Template -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="d-flex align-items-center">
                            <div class="icon-container">
                                <i class="fa-solid fa-user-tie fa-xl"></i>
                            </div>
                            <p class="ms-3">
                                Tài khoản Admin
                                <i class="right fas fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/adminmanagement/admins" class="nav-link">
                                <i class="fas fa-edit nav-icon"></i>
                                <p>Danh sách</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/adminmanagement/admins/create" class="nav-link">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Thêm</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-center" style="width: 30px">
                                <i class="fa-solid fa-house-user fa-xl"></i>
                            </div>
                            <p class="ms-3">
                                Quản lý khách hàng
                                <i class="right fas fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/adminmanagement/customers" class="nav-link">
                                <i class="fas fa-edit nav-icon"></i>
                                <p>Danh sách</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/adminmanagement/customers/create" class="nav-link">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Thêm</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-center" style="width: 30px">
                                <i class="fa-solid fa-house-user fa-xl"></i>
                            </div>
                            <p class="ms-3">
                                Quản lý nhân viên
                                <i class="right fas fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/adminmanagement/employees/" class="nav-link">
                                <i class="fas fa-edit nav-icon"></i>
                                <p>Danh sách</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/adminmanagement/employees/create" class="nav-link">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Thêm</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-center" style="width: 30px">
                                <i class="fa-solid fa-list fa-xl"></i>
                            </div>
                            <p class="ms-3">
                                Quản lý bánh
                                <i class="right fas fa-angle-down"></i>
                            </p>
                        </div>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/adminmanagement/cakes" class="nav-link">
                                <i class="fas fa-plus-circle nav-icon"></i>
                                <p>Danh sách</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/adminmanagement/cakes/create" class="nav-link">
                                <i class="fas fa-edit nav-icon"></i>
                                <p>Thêm</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/adminmanagement/orders" class="nav-link">
                        <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-center" style="width: 30px">
                                <i class="fa-solid fa-list fa-xl"></i>
                            </div>
                            <p class="ms-3">
                                Quản lý đơn hàng
                            </p>
                        </div>
                    </a>

                </li>
            </ul>
        </nav>
    </div>
</aside>
<style>
    /* Main Sidebar Customizations */
    .sidebar-custom {
        background-color: #f7b1ae;
        color: #333;
    }

        .sidebar-custom .nav-link {
            color: #333;
        }

            .sidebar-custom .nav-link:hover,
            .sidebar-custom .nav-link.active {
                background-color: #ed3d34;
                color: white;
            }

        .sidebar-custom .nav-treeview .nav-link {
            background-color: #f7d0ce;
            color: #333;
        }

            .sidebar-custom .nav-treeview .nav-link:hover {
                background-color: #ed3d34;
                color: white;
            }

    .icon-container {
        width: 30px;
        text-align: center;
    }

    .logout-link {
        color: #ed3d34;
    }

        .logout-link:hover {
            text-decoration: underline;
        }
</style>