
    <!-- Slider Section -->
    <section class="slider_section position-relative">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="img_container1">
                        <div class="img-box">
                            <img src="images/slider-bg.jpg" class="" alt="Nội Thất Văn Phòng">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img_container1">
                        <div class="img-box">
                            <img src="images/slider-bg.jpg" class="" alt="Nội Thất Văn Phòng">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img_container1">
                        <div class="img-box">
                            <img src="images/slider-bg.jpg" class="" alt="Nội Thất Văn Phòng">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn_box">
                <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="sr-only">Trước</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span class="sr-only">Tiếp Theo</span>
                </a>
            </div>
        </div>
        <div class="detail-box">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="inner_detail-box">
                    <h1>
                        Nội Thất Văn Phòng <br>
                        Thông Minh
                    </h1>
                    <p>
                        Chúng tôi cung cấp các giải pháp nội thất văn phòng hiện đại, giúp tối ưu hóa không gian làm việc và nâng cao hiệu suất công việc.
                    </p>
                    <div>
                        <a href="" class="slider-link">
                            LIÊN HỆ NGAY
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Section -->
    <!-- About Section -->
    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/about-img.jpg" alt="Về Chúng Tôi">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Giới Thiệu Công Ty
                            </h2>
                        </div>
                        <p>
                            Chúng tôi là đơn vị hàng đầu cung cấp nội thất văn phòng chất lượng cao, với các sản phẩm được thiết kế để mang lại sự thoải mái và hiệu quả. Đội ngũ của chúng tôi cam kết mang đến những giải pháp tối ưu cho không gian làm việc của bạn.
                        </p>
                        <a href="">
                            Tìm Hiểu Thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- Gallery Section -->
    <div class="gallery_section layout_padding2">
        <div class="container-fluid">
            <div class="heading_container heading_center">
                <h2>
                    Sản Phẩm Nội Thất
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="images/g1.jpg" alt="Sản Phẩm Nội Thất">
                        <a href="images/g1.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 px-0">
                    <div class="img-box">
                        <img src="images/g2.jpg" alt="Sản Phẩm Nội Thất">
                        <a href="images/g2.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 px-0">
                    <div class="img-box">
                        <img src="images/g3.jpg" alt="Sản Phẩm Nội Thất">
                        <a href="images/g3.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 px-0">
                    <div class="img-box">
                        <img src="images/g4.jpg" alt="Sản Phẩm Nội Thất">
                        <a href="images/g4.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 px-0">
                    <div class="img-box">
                        <img src="images/g5.jpg" alt="Sản Phẩm Nội Thất">
                        <a href="images/g5.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="images/g6.jpg" alt="Sản Phẩm Nội Thất">
                        <a href="images/g6.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    Xem Tất Cả Sản Phẩm
                </a>
            </div>
        </div>
    </div>
    <!-- End Gallery Section -->
    <!-- Service Section -->
    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Dịch Vụ Nội Thất
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s1.jpg" alt="Thiết Kế Văn Phòng">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Thiết Kế Văn Phòng
                            </h5>
                            <p>
                                Chúng tôi cung cấp dịch vụ thiết kế văn phòng chuyên nghiệp, tạo không gian làm việc hiện đại và hiệu quả.
                            </p>
                            <a href="">
                                Tìm Hiểu Thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s2.jpg" alt="Tư Vấn Nội Thất">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Tư Vấn Nội Thất
                            </h5>
                            <p>
                                Đội ngũ chuyên gia của chúng tôi sẽ tư vấn giải pháp nội thất phù hợp với nhu cầu và ngân sách của bạn.
                            </p>
                            <a href="">
                                Tìm Hiểu Thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/s3.jpg" alt="Cung Cấp Nội Thất">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cung Cấp Nội Thất
                            </h5>
                            <p>
                                Cung cấp đa dạng các sản phẩm nội thất văn phòng chất lượng cao với giá cả cạnh tranh.
                            </p>
                            <a href="">
                                Tìm Hiểu Thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service Section -->
    <!-- Blog Section -->
    <section class="blog_section">
        <div class="container-fluid">
            <div class="heading_container">
                <h2>
                    Tin Tức Nội Thất
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/b1.jpg" alt="Xu Hướng Nội Thất">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Xu Hướng Nội Thất Văn Phòng 2025
                            </h5>
                            <p>
                                Khám phá những xu hướng mới nhất trong thiết kế nội thất văn phòng, tập trung vào sự tiện nghi và hiện đại.
                            </p>
                            <a href="">
                                Tìm Hiểu Thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/b2.jpg" alt="Mẹo Chọn Nội Thất">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Mẹo Chọn Nội Thất Văn Phòng
                            </h5>
                            <p>
                                Tìm hiểu cách chọn nội thất phù hợp để tối ưu hóa không gian làm việc và nâng cao hiệu suất.
                            </p>
                            <a href="">
                                Tìm Hiểu Thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section -->
    <!-- Client Section -->
    <section class="client_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Phản Hồi Khách Hàng
                </h2>
            </div>
            <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-11 col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="images/client.jpg" alt="Khách Hàng" />
                                    </div>
                                    <div class="detail-box" style="width:100%">
                                        <div class="name">
                                            <h6>
                                                Nguyễn Văn An
                                            </h6>
                                        </div>
                                        <p>
                                            Sản phẩm nội thất từ công ty rất chất lượng, giúp văn phòng của chúng tôi trở nên hiện đại và chuyên nghiệp.
                                        </p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-11 col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="images/client.jpg" alt="Khách Hàng" />
                                    </div>
                                    <div class="detail-box"style="width:100%" >
                                        <div class="name">
                                            <h6>
                                                Trần Thị Bình
                                            </h6>
                                        </div>
                                        <p>
                                            Dịch vụ tư vấn và cung cấp nội thất rất chuyên nghiệp, đáp ứng đúng nhu cầu của chúng tôi.
                                        </p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-11 col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="images/client.jpg" alt="Khách Hàng" />
                                    </div>
                                <div class="detail-box" style="width:100%">
                                        <div class="name">
                                            <h6>
                                                Lê Minh Châu
                                            </h6>
                                        </div>
                                        <p>
                                            Tôi rất hài lòng với chất lượng sản phẩm và dịch vụ giao hàng nhanh chóng của công ty.
                                        </p>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel_btn-container">
                    <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only">Trước</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only">Tiếp Theo</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Client Section -->
    <!-- Contact Section -->
    <section class="contact_section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-6">
                    <div class="form_container">
                        <div class="heading_container">
                            <h2>
                                Liên Hệ Tư Vấn
                            </h2>
                        </div>
                        <form action="">
                            <div>
                                <input type="text" placeholder="Họ và Tên" />
                            </div>
                            <div>
                                <input type="text" placeholder="Số Điện Thoại" />
                            </div>
                            <div>
                                <input type="email" placeholder="Email" />
                            </div>
                            <div>
                                <input type="text" class="message-box" placeholder="Tin Nhắn" />
                            </div>
                            <div class="btn_box">
                                <button>
                                    GỬI
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5 col-lg-6">
                    <div class="subscribe-box">
                        <h3>
                            Đăng Ký Thông Tin Ưu Đãi
                        </h3>
                        <p>
                            Nhận thông tin mới nhất về sản phẩm nội thất văn phòng, ưu đãi đặc biệt và mẹo thiết kế không gian làm việc từ chúng tôi.
                        </p>
                        <form action="">
                            <input type="email" placeholder="Nhập email của bạn">
                            <button>
                                Đăng Ký
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
    <!-- Info Section -->

